
html {
	color: #666;
	font-family: sans-serif;
}
body{
    margin:0em auto;
    width:100%;
    height:100%;
    padding:0;
    font-size:1.4rem;
}
h1,h2,h3 {
    color:inherit;
    font-family: "Lobster", serif;
    font-weight:bold;
    margin:0rem;
}
.centerWrap{
    width:80%;
    margin:0px auto;
    position:relative;
    top:0px;
    left:0px;
}
header{
    width:100%;
    max-height:7rem;
    background-color:#366c7c;
    color:#ffffff;
    padding:10px 0px;
    position:fixed;
    z-index:10;
    top:0em;
    left:0em;
}
nav{
    width:80%;
    display:inline;
    /*margin-left:20%;*/
    font-family: sans-serif;
    font-weight:bold;
    font-size:1.5rem;
    text-shadow:3px 3px 0px #333;
}
.navlink{
    padding: 0em 0.5em;
}
.navlink:hover{
    color:#5ca3b8;
}
#logo{
    height:5rem;
    margin-right:1rem;
}
main{
    width:80%;
    margin:0px auto;
    position:relative;
    left:0px;
    top:8rem;
}
.level{
    width:100%;
    padding:0px;
    margin:0px;
    position:relative;
    top:0px;
    left:0px;
}
.level-bg{
    margin:0px;
    width:100%;
}
.videoButton{
    background-color:#366c7c;
    border:0.5rem solid white;
    position:absolute;
    border-radius:25%;
    box-shadow:0rem 0.3rem 0rem #000;
    text-align:center;
    color:#fff;
    font-family: 'Lobster', serif;
    font-size:5rem;
    text-shadow:5px 5px 0px #3b3b3b;
    padding:1rem 2rem;
}
.videoButton:hover{
    background-color:#3b3b3b;
    color:#366c7c;
}
a:visited{
    color:inherit;
}
a{
    color:inherit;
    text-decoration:none;
}








